{
    "plugins": [
        ["@babel/preset-env", {
          "modules": false,
          "targets": {
              "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
          },
          "useBuiltIns": "usage"
        }],
        [
            "component",
            {
              "libraryName": "element-ui",
              "styleLibraryName": "theme-chalk"
            }
          ]
    ],
    "plugins": [
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      ["@babel/plugin-proposal-class-properties", { "loose": true }],
      "@babel/plugin-transform-runtime"
  ]
}